html { /* etiqueta raíz */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(224, 219, 219, 0.808);
 }
 
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
 }
 
 body{
	width: 100%;
	height: 100%;
	letter-spacing: 0,03em;
	line-height:2px;


}

.titulo-logo{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 200px;
	width: 55%;
}
.titulo-principal{
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-variant: small-caps;
	color:rgb(5, 7, 6) ;
	margin-top: 100px; 
	background-color: rgba(95, 160, 127, 0.651);
	width: 70%;
	max-width: 100%;

	
}
.titulo-secundario{
	background-color: rgba(95, 160, 127, 0.651);
	width: 60%;
	font-size: large;
}
/*Header*/
.container__header{
	display: flex;
	justify-content: space-between; 
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	width: 100%;
	box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 3);
	
}
.header__text{
	color:rgb(97, 95, 95);
	font-size: 12px;
}

.navbar-light{
	background-color: rgba(194, 204, 197, 0.336);
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-size: 12px;
}
.header__S{
	background-image: url("../Media/header3.png");
	background-position: center;
	box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 3);
	filter: brightness(0.9);
	background-size: cover;
	padding: 20px;
	padding-bottom: 40px;
	height: 600px;
	text-align: justify;
	width: 100%;

}

.header__R{
	background-image: url("../Media/header3.png");
	background-position: center;
	box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 3);
	filter: brightness(0.9);
	background-size: cover;
	padding: 20px;
	padding-bottom: 40px;
	height: auto;
	text-align: justify;
	width: 100%;

}
.header__C{
	background-image: url("../Media/fondo-gris.jpg");
	background-position: center;
	box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 3);
	filter: brightness(0.9);
	background-size: cover;
	padding: 20px;
	padding-bottom: 40px;
	height: 200px;
	text-align: justify;
	width: 100%;
}

.vh__50{
	height: 50vmin;
}

.vh__logo{
	width: 100px;
	height: 50px;
	font-weight: bold;


}
.vh__menu{
	padding-top: 5px;

}

.vh__textos{
	width: auto;


}
.agregado{
	border-top: 10px double rgb(156, 154, 154);
    margin-top: 20px;
	width:100%;
}


/*Animaciones index*/

.texto__index{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(97, 95, 95) ;
    font-size: 18px;
    text-align: center;
    background-color: rgb(245, 237, 237);
    opacity: 0.80;
    
}
.card-img-filter{
	filter: brightness(0.8);
}

.card-index{
	border-radius: radius;
    box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 3);
	transition-duration: .7s;
	clip-path: polygon(50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%,  0 100%, 0 50%, 0 0);
	
}

.card-effect:hover .card-index{
	clip-path: polygon(50% 0, 50% 0, 100% 50%, 100% 50%, 50% 100%,  50% 100%, 0 50%, 0 50%);

}
.card-effect:hover .card-img-overly{
	transform: scale(0.9);
}

.titulo_tarjeta{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: rgb(247, 242, 247);
	text-align: center;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	height: auto;
	border-radius: 50px;
	transition: .7s all ease;
}
.titulo_tarjeta:hover{
	background-color:  rgba(151, 172, 151, 0.267);
}

.texto-tarjeta{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 18px;
	color: rgb(13, 73, 13);
	font-weight: bold;
	border-bottom: 6px solid yellowgreen;
	line-height: 30px;
	margin-right: 2px;
}
.texto-tarjeta1{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 16px;
	color: rgb(58, 59, 55);
	margin-top: 2px;
	line-height: 35px;
}

/*logo footer*/
.img-logo{
	width: 100px;
	height: 100px;
}
/*participantes*/
.comments{
	background-image: url("../Media/participantes.jpg");
	background-position: center;
	background-size: cover ;
	padding: 10px;
	margin-top: none;

}

.boton-participantes{
	font-size: 12px;
	color: rgb(53, 52, 52);
	background-color:  rgb(164, 206, 81);
	height: auto;
	width: auto;
	padding: 10px;
	border-radius: 6px double rgb(63, 65, 61);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	transition: .4s all ease;
}
.boton-participantes:hover{
	background-color: rgb(132, 194, 7);

}

.foto-participante1{
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 50%;
	box-shadow: 7px 7px 7px rgba(0 0 0 /0.5);
	border: 3px ridge white;
}
.participante__texto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(97, 95, 95);
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(197, 189, 189, 0.719);
}
.dropdown-item{
	font-size: 12px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	
}


/*Quienes somos*/
.quienessomos__text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 40px;
    margin:20px;
    line-height: 30px;
}
.quienessomos__text1{
	color:rgb(4, 83, 40);
	font-weight: bold;
	
}
.quienessomos__text2{
	color: slategray;
	font-size: 16px;	
   
}

.vision-mision{
	display: flex;
    color:rgb(68, 67, 67);
    font-size: 18px;
    padding: 40px;
	justify-content: space-between; 
	line-height: 35px;
	border: 10px double rgb(98, 114, 97);
   
}

.item-texto{
	background: linear-gradient(to top, lightgrey , lightgreen);
	padding: 20px;
}

/*Servicios*/
.servicios__textos{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
}
.servicios__texto1{
	color:rgb(61, 60, 60);
	font-size: 18px;
	font-weight: bold;
}

.servicios__texto2 {
	color:rgb(4, 83, 40);
	font-weight: bold;
}
.servicios__texto3{
	color: slategrey;
	font-size: 16px;
}

.servicios__dropdown{
	width: 200px;
	color: rgb(46, 40, 40);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin-bottom: 30px;
}

.container__servicios{
	width: 100%;
    height: 100%;
	justify-content: center;
	flex-wrap: wrap;
	margin:20x;
    border-bottom: rgba(136, 39, 39, 0.719);
}

.card{
    width: 330px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 10px;
    text-align: center;
    position: relative;
    transition: all 0.5s;
    background-color: rgb(250, 250, 250);

}
.card:hover{
    transform: translate(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.card__texto{
font-size: 16px;
font-family: Verdana, Geneva, Tahoma, sans-serif;

} 
.card__textos2{
font-weight: 20px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color:rgb(97, 95, 95);

}  
.card__img{
        width: 330px;
        height: 300px;
    
}
.card__enlace{
    width: 200px;
    margin-left: 50px;
    margin-bottom: 10px;
   
}

/*Novedades*/
#accordion{
    width: 100%;
	height: 100%;
    padding-bottom: 10px;
}
.novedades__texto{
    color:rgb(4, 83, 40);
    font-weight: bold;
}
.novedades__texto1{
    color:rgb(61, 60, 60);
    font-size: 18px;
    text-align: center;
}
/*.....CAROUSEL......*/

#carouselExampleCaptions{
	background-size: cover ;
	filter: brightness(0.8);
	position: center;
	padding: 30px;
	padding-top: 5px;
	height: 10% ;

}
.d-block{
	width: 100%;
	height: 700px;
	
}
/*.....CAROUSEL......*/
.menu{
	display: flex;
	justify-content: space-between; 

}


p{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color:rgb(97, 95, 95);
	font-size: 18px;
	font-weight: bold;
	width: 1000px;
	margin-left: 5px;
}

/*SERVICIOS*/

/*CONTACTO*/


.contacto__textos{
    color:rgb(4, 83, 40);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 30px;
    padding: 30px;

}
   
.contacto__texto1{
    color:rgb(43, 43, 46);
    font-size: 18px;
    text-align: center;
 

}

.container .formulario .form-header .form-titulo{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
	color:rgba(5, 97, 5, 0.897);
	text-align: center;
	padding: 14px 0;
	font-weight: bold;

}
.container .formulario .form-header .form-titulo span{
	color:rgba(5, 97, 5, 0.767);
}
.container .formulario{
	width: 60%;
	max-width: 500px;
	min-width: 300px;
	margin: auto;
	background-color: rgb(247, 242, 247);
	padding: 5px 35px;
	margin-top: 25px;
	margin-bottom: 40px;
	padding-bottom: 30px;
	border-radius: 3px;
}

.container .formulario .form-label{
	display: block;
	color: rgb(33, 36, 33);
	font-weight: bold;
	font-size: 16px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	position: relative;
}

.container .formulario .form-input, .form-textarea{
	background-color: rgba(209, 196, 196, 0.521);
	font-size: 14px;
	color: rgb(8, 8, 8);
	border:none;
	outline:none;
	border-bottom: 4px solid yellowgreen;
	width: 100%;
	margin-bottom: 20px;
	border-radius: 2px;

}
.container .formulario .form-textarea{
	resize: vertical;
	height: 70px;
	max-height: 150px;
	min-height: 50px;

}
.container .formulario .btn-submit{
	width: 100%;
	font-family: 'Times New Roman', Times, serif;
	font-size: 18px;
	outline: none;
	border: none;
	background-color: yellowgreen;
	color: white;
	padding: 10px 0;
	cursor: pointer;
	transition: all .5s ease;
}
.container .formulario .btn-submit:hover{
	background-color: rgb(0, 128, 32);
}
/*Footer*/
.container__footer{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 14px;
	background: linear-gradient(to bottom, #d3d3d3, #d3d3d3, white , white) ;
	width: 100%;
	border-top: 3px solid #d3d3d3;
	box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 2);
}

.footer__textos{
	color: rgb(68, 63, 63);	
}

.footer__titulo{
	font-weight: bold;
	font-size: 16px;
	line-height: 25px;
}
.c-footer{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 14px;
	color: rgb(252, 252, 252);
	border-top: 3px solid #d3d3d3;
	width: 100%;
	height: 30px;
	background-color: rgba(68, 67, 67, 0.76);
	margin-bottom: 0px;
}